<div>
    <h1>Quick shop product</h1>
    {% include 'product-tile-new', product: all_products[section.settings.hero_product] %}
</div>


{% schema %}
{
    "name": "Product Hero",
    "settings": [
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "product",
            "id": "hero_product",
            "label": "Selected Product",
            "info": "Select A product to be displayed in the hero"
        }
    ],
    "presets": [
    {
      "category": "Generic",
      "name": "Product Hero"
    }
  ]
}
{% endschema %}