<template lang="pug">
  .title-container  
    h4 {{ product.title }}
    img(:src="image.src", :alt="image.alt")
    .variants-container
      button(v-for="varient in product.variants", :key="varient.id", @click="addToCart(varient.id)") {{ formatVarient(varient.title) }}
</template>

<script>
import { getSizedImageUrl } from "scripts/helpers/images.js";

export default {
  name: "NewProductTile",
  props: {
    product: Object
  },
  computed: {
    image() {
      const image = this.product.images[0];

      return {
        src: getSizedImageUrl(image.src, "450x"),
        alt: image.alt
      };
    }
  },
  methods: {
    formatVarient(title) {
      return title.split("-")[1];
    },
    addToCart(variant) {
      const productPayload = {
        id: variant,
        quantity: 1
      };

      this.$store
        .dispatch("cart/addItem", productPayload)
        .then(() => this.$store.dispatch("cart/openSidecart"))
        .catch(error =>
          this.$store.dispatch("toast/send", { text: error, type: "error" })
        )
        .then(() => {
          setTimeout(() => {
            this.$store.dispatch("cart/closeSidecart");
          }, 5000);
        });
    }
  }
};
</script>

<style scoped lang="scss"></style>
